* {
    margin:0;
    padding:0;
}

body > div {
    border:1px solid #ccc;
    margin:10px;
    width:200px;
    height:200px;
}

div >div {
    border:1px solid #f36;
    padding:10px;
}

.box {
   display:-moz-box;
   display:-webkit-box;
   display:box;

   -moz-box-pack:start;
   -webkit-box-pack:start;
   box-pack:start;

   -moz-box-align:start;
   -webkit-align:start;
   box-align:start;

   -moz-box-lines:multiple;
   -webkit-box-lines:mulitiple;
   box-lines:multiple;
}

.box-vertical {
    -moz-box-orient: vertical;
    -webkit-box-orient:vertical;
    box-orient:vertical;
}

.box-horizontal {
    -moz-box-orient: horizontal;
    -webkit-box-orient:horizontal;
    box-orient:horizontal;
}